@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&family=Poppins:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
html{
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

h1,h2,h3,h4{
  text-transform: uppercase;
  text-align: center;
  
}
.page1{
  background-image: url("../Assets/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}
.cont{
  width: 80%;
  margin: auto;
  text-align: center;
  
}
.service{
  width: 80%;

}

.work{
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 25vh;
  display: flex;
  align-items: center;
  /* width: 22vw; */
}
.info{
  display: none;
}
.what-we-do h4{
  text-transform: uppercase;
}

.ul{
  list-style: none;
}
.textarea{
  resize: none;
}
.services{
  background-image: url("../Assets/s_image.jpg");
}
.what-we-do{
  height: 100vh;
}
.logos, .info{
  height: 30vh;
  text-align: center;
  cursor: pointer;
}
.works{
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 200px;
  margin: auto;
  position: absolute;
  text-align: center;
  padding: 48px;
  border: solid white 3px;
  
}
.works h4{
  font-weight: 900;
}
#click1:hover, #click2:hover, #click3:hover{
  color: rgba(0,0,0,0.8);
}
.contacts{
  background-image: url("../Assets/c_image.jpg");
  display: relative;
}
.form input, .textarea{
  background-color: rgba(1,1,1,0);
  border: solid white 1px;
  margin: auto;
  color: white;
  font-size: 24px;
  
}
::placeholder{
  color: white;
}
.formButton{
  position: relative;
  left: 240px;
  bottom: 24px;
}
#alert, #alert2, #alert3{
  display: none;
}
.formSuccess{
  height: 50vh;
  display: none;
  
}

@media screen and (min-width:650px){
  .page1{
    height: 100vh;
  }
  .services, .about-us, .what-we-do{
    height: 40vh;
  }
  #icons{
    width: 50%;
    margin: auto;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  
}
@media only screen and (min-width:630px)and (max-width:767px) {
  .what-we-do{
     height: 100vh;
  }
  .portfolio div{
    margin: auto;
    width:50%;
  }
  
  
}